@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Singleton : @ViewBag.Singleton</p>
<p>Transient : @ViewBag.Transient</p>
<p>Scoped : @ViewBag.Scoped</p>

<h3>Servis Sınıfı</h3>
<p>Singleton : @ViewBag.SingletonService</p>
<p>Transient : @ViewBag.TransientService</p>
<p>Scoped : @ViewBag.ScopedService</p>
